* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

::selection {
    background-color: transparent;
}

p {
    color: gray;
}

button {
    background-color: black;
    color: white;
    border: none;
    height: 8%;
    width: 10%;  
    font-size: 1.015em;
    border-radius: 15px;
}

button:hover{
    background-color: rgb(44, 44, 44);
    cursor: hand;
}

.left_Div {
    float: left;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
}

.left_Radius_Div {
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 62px #d2d2d2,
                -20px -20px 62px #ffffff;
    height: 85%;
    width: 55.75%;
    margin: 3%;
    padding: 32.25px;
}

.text_Div{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.left_Div p {
    font-size: 18.25px;
}