* {
    padding: 0;
    margin: 0;
    font-family: "Source Han Serif";
}

@font-face {
    font-family: "Source Han Serif";
    src: url("https://gcore.jsdelivr.net/gh/CavDev/cdn_repo_jsdelivr/SourceHanSerifCN-Regular-1.otf");
}

body {
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}

*::selection {
    background: rgba(9, 238, 169, 0.5);
}

#i {
    text-align: center;
    margin: 0px auto;
}

#i iframe {
    margin-top: 10px;
    margin-bottom: 10px;
}

#i .aplayer {
    margin-top: 0.625em;
    margin-bottom: 1.875em;
    margin-left: 1em;
    margin-right: 1em;

    /* 移动端去除边距 */

    text-align: left;

    border-radius: 0.625em;
}

#i hr {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0a53db;
    height: 1px;
    border: none;
    opacity: 0.2;
}

#i #title {
    padding: 0.625em;
    margin: 0 auto;
    margin-top: 1.75em;
    width: 11.875em;
    text-align: center;

    font-size: 20px;
    font-weight: bold;

    color: #fefefe;
     
    border-radius: 50px;
    backdrop-filter: blur(16px);
    filter: brightness(1.8);

    box-shadow:
    4.5px 4.5px 3.6px rgba(0, 0, 0, 0.042),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.06),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.078),
    100px 100px 80px rgba(0, 0, 0, 0.12)
    ;
}

.bottom
{
    background-color: #0a53db;
    
    border-radius: 8px;

    width: 5em;

    margin: 0 auto;

    
}

.bottom p {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;

    font-size: 1em;
    font-weight: lighter;

    color: #f0f0f0;
    text-align: center;
}

.bottom a {
    margin: 0 auto;

    text-decoration: none;
    text-align: center;
    
    display: inline-block;
}

.bottom span {
    font-weight: bold;
    color: #ffc9c9;
}

video {
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -11
}

#i .aplayer-title
{
    font-weight: bold;
}

#i .aplayer-info
{
    height: 12em;
    backdrop-filter: blur(16px);
    
}

#i .aplayer-lrc
{
    padding-top: 1em;
    padding-bottom: 1em;
    height: 6em;
}

#i .aplayer-lrc-current
{
    margin-top: 10em;
    font-size: 1em;
    font-weight: bold;
}

#i .aplayer-list
{
    background-color: rgb(236, 236, 236);
    
}