* {
    padding: 0;
    margin: 0;
    font-family: "Source Han Serif";
}

@font-face {
    font-family: "Source Han Serif";
    src: url("https://gcore.jsdelivr.net/gh/CavDev/cdn_repo_jsdelivr/SourceHanSerifCN-Regular-1.otf");
}

body {
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}

*::selection {
    background: rgba(9, 238, 169, 0.5);
}

#i {
    text-align: center;
    margin: 0px auto;
}

#i iframe {
    margin-top: 10px;
    margin-bottom: 10px;
}

#i .aplayer {
    background-color: rgba(252, 252, 252, 0.5);
    margin-top: 0.625em;
    margin-bottom: 1.875em;

    margin-left: 15%;
    margin-right: 15%;

    min-width: 12em;

    text-align: left;

    border-radius: 1em;
}

#i hr {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0a53db;
    height: 1px;
    border: none;
    opacity: 0.2;
}

#i #title {
    padding: 0.625em;
    margin: 0 auto;
    margin-top: 1.8em;
    width: 12em;
    text-align: center;

    font-size: 20px;
    font-weight: bold;

    color: #fefefe;
     
    border-radius: 50px;
    backdrop-filter: blur(16px);
    filter: brightness(1.5);
    background-color: rgba(151, 151, 151, 0.5);
    

    box-shadow:
    4.5px 4.5px 3.6px rgba(0, 0, 0, 0.042),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.06),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.078),
    100px 100px 80px rgba(0, 0, 0, 0.12)
    ;
}

.bottom
{
    font-size: 16px;

    margin: 0 auto;
    margin-top: 5em;
}

.bottom p {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;

    font-size: 1em;
    font-weight: lighter;

    color: #bdbdbd;
    text-align: center;
}

.bottom a {
    margin: 0 auto;

    text-decoration: none;
    text-align: center;
    
    display: inline-block;
}

.bottom span {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

video {
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -11
}

#i .aplayer-title
{
    font-weight: bold;
}

#i .aplayer-info
{
    height: 12em;
    backdrop-filter: blur(16px);
}

#i .aplayer-lrc
{
    z-index: -10;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 6em;
}

.aplayer .aplayer-lrc:before {
    position: absolute;
    z-index: 1;
    display: block;
    overflow: hidden;
    width: 100%;
    content: "";
    background: transparent;
  }
.aplayer .aplayer-lrc:after {
    bottom: 0;
    height: 33%;
    background: transparent
}

#i .aplayer-lrc-contents p
{
    color: rgb(248, 248, 248);
}

#i .aplayer-music .aplayer-title
{
    background: linear-gradient(135deg,#ff75c3,#ffa647,#ffe83f,#9fff5b,#70e2ff,#cd93ff);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

#i .aplayer-lrc-current
{
    
    margin-top: 10em;
    font-size: 1em;
    font-weight: bold;
}

#i .aplayer-list
{
    backdrop-filter: blur(8px);
    background-color: rgba(79, 23, 209, 0.225)
}

#i .aplayer-list .aplayer-list-light
{
    font-weight: bold;

    color: dimgray;
    backdrop-filter: blur(8px);
    background-color: rgba(58, 58, 58, 0.2); 
}

#i .aplayer-list .aplayer-list-index
{
    color: #f0f0f0;
}

#i .aplayer-list .aplayer-list-title
{
    color: rgb(255, 241, 241);
}

#i .aplayer-list .aplayer-list-author
{
    color: rgb(206, 206, 206);
}
.aplayer .aplayer-list ol li:hover {
    background-color: rgb(94, 94, 94, 0.45);
}

.aplayer .aplayer-list ol li {
    border-top: 0px;
}